# Image Processing
opencv-python-headless
pillow
numpy
pillow-avif-plugin

# Vision Models
torch
torchvision
torchaudio
scikit-learn
ultralytics
timm
yolov5
huggingface_hub>=0.16.0,<0.21.0
transformers>=4.22.0,<5.0.0
accelerate 

# Video Processing
ffmpeg-python

# Server
fastapi
uvicorn
python-multipart

# Git (needed for clone/setup LoveDA repo)
git-lfs
