# Image Processing
opencv-python-headless
pillow
numpy
pillow-avif-plugin

# Vision Models
torch
torchvision
torchaudio
ultralytics
timm
yolov5
transformers
huggingface_hub==0.14.1
accelerate  # <-- New for SegFormer compatibility

# Video Processing
ffmpeg-python

# Server
fastapi
uvicorn
python-multipart

# Git (needed for clone/setup LoveDA repo)
git-lfs
